html {
    padding-top: 1rem;
}
.margin-top {
    margin-top: 1rem;
}
.margin-bottom {
    margin-bottom: 1rem;
}

.button-block {
    margin-top: 0.5rem;
}

.button-block .btn-chuv {
    margin-right: 0.2rem;
}

.button-block .btn-chuv:last-child {
    margin-right: 0;
}

.lastterms-list {
    position: fixed;
    top: 30%;
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0 5px 5px 0;
    background-color: white;
}

.lastterms-list ul {
    padding: 0.3rem;
}

.lastterms-list li {
    list-style-type: none;
    padding: 0.3rem;
}

[v-cloak] {
  display: none;
}