html {
    padding-top: 2rem;
}

.header > h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header > p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.progress {
    margin-bottom: 0;
}

.progress. > .progress-bar {
    min-width: 6em;
}

.margin-top {
    margin-top: 1rem;
}
.margin-bottom {
    margin-bottom: 1rem;
}

.wcounter {
    margin-top: 0.5rem;
}

.button-block {
    margin-top: 0.5rem;
}

.button-block .btn-chuv {
    margin-right: 0.2rem;
}

.button-block .btn-chuv:last-child {
    margin-right: 0;
}

.lastterms-list {
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 10;

}

.lastterms-list ul {
    padding: 0;
    margin-bottom: 0;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0 5px 5px 0;
    background-color: white;
}

.lastterms-list li {
    list-style-type: none;
    padding: 0.2rem;
}

.text-danger a {
    color: #d9534f!important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

[v-cloak] {
  display: none;
}

@media (max-width: 991px) {
    .navbar-header .first-part {
    display:none;
}}

@media (max-width: 767px) {
    .second-part {
        display:none;
    }
    .button-block {
        text-align: center;
    }
}